body, html {
    height: 100%;
    margin: 0;
    font-family: SansSerif, serif;
}

h1 {
    font-size: 40px;
}

.background-img {
    background-image:url(https://www.telegraph.co.uk/content/dam/news/2016/12/30/JS116839549_News_Fog-in-London-xlarge_trans_NvBQzQNjv4BqZgEkZX3M936N5BQK4Va8RQJ6Ra64K3tAxfZq0dvIBJw.jpg);
    filter: blur(8px);
    -webkit-filter: blur(5px);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.weather-forecast {
    background-color: rgba(0,0,0, 0.4);
    font-family: SansSerif,serif;
    font-size: 20px;
    color: white;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-25%,-50%);
    width: 75%;
    padding: 3%;
}

.map-outer {
    width: 300px;
    float: left;
}

.map-outer > p {
    font-size: 12px;
    color: darkgray;
}

.weather-info {
    padding: 0 3% 0 calc(300px + 3%);
    width: calc(90% - 300px);
}

#weather-name {
    font-size: 28px;
    color: dodgerblue;
}

#weather-id {
    font-size: 12px;
    color: white;
}

.weather-main {
    width: calc(91%/3);
    float: left;
    padding-right: 3%;
}

.weather-block {
    padding-bottom: 3%;
}

.weather-detail {
    width: 50%;
    float: left;
}