body, html {
    height: 100%;
    margin: 0;
    font-family: SansSerif, serif;
}

h1 {
    font-size: 40px;
}

textarea, input, select {
    width: 100%;
    margin-bottom: 0.6em;
    padding: 5px 0;
}

textarea, input[type="text"] {
    width: 284px;
}

img {
    width: 65px;
    float: left;
}

.left-column, .right-column {
    width: 15%;
    float: left;
    padding: 1%;
    line-height: 25px;
}

#submit-button {
    background-color: #f0bf9e;
    color: white;
    text-align: left;
    text-indent: 12px;
}

#info {
    padding: 32px 0;
}

#info-text {
    width: calc(100% - 65px);
    float: left;
    font-size: 11.6px;
    line-height: 1.5em;
    padding: 10px 0;
}